!!!5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
        %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
        %title Home

        %link{:type => "text/css", :rel => "stylesheet", :href => "css/main.css"}


        %script{:type => "text/javascript", :src => "js/jquery.min.js"}
        %script{:type => "text/javascript", :src => "https://api-maps.yandex.ru/1.1/index.xml"}
        %script{:type => "text/javascript", :src => "js/scripts.js"}

    %body{"data-spy" => "scroll", "data-target" => "#navbar"}
        .wrapper
            %header
                .centralizer
                    %a.logo{:href => ""}
                        %img{:src => "img/logo.png", :alt => ""}/
                    %nav.mainMenu#navbar
                        %ul.nav
                            %li
                                %a{:href => "#whoAreWe"} КТО МЫ
                            %li
                                %a{:href => "#whyWeNeedYou"} ЗАЧЕМ МЫ НУЖНЫ ВАМ
                            %li
                                %a{:href => "#cost"} СТОИМОСТЬ
                            %li
                                %a{:href => "#withUsBlock"} Кто уже с нами
                            %li
                                %a{:href => "#contact"} КАК НАС ПОЗВАТЬ
                    .lang
                        %a.btn
                            %img{:src => "img/flag.png", :alt => ""}/
                            eng
                        %ul
                            %li
                                %a{:href => ""} rus
                            %li
                                %a{:href => ""} fr
                            %li
                                %a{:href => ""} it
                    .search
                        %form
                            %input{:type => "text", :placeholder => "Поиск по сайту"}/
                            %button
                                %i.fa.fa-search
            .main
                .topBlock
                    .centralizer
                        .inner
                            %h1
                                %span Legal EntertaiNment
                                Юридическая поддержка
                                %br/
                                рекламы, маркетинга
                                %br/
                                и шоу бизнеса

                            .actions
                                %span.title Акция:
                                .box
                                    %span.blue 1 (первая) услуга
                                    %span.blue новому клиенту –
                                    %span.red БЕСПЛАТНО!*
                                %span.small * подробности акции по телефону
                            .actions
                                %span.title Акция:
                                .box
                                    %span.blue 1 (первая) услуга
                                    %span.blue новому клиенту –
                                    %span.red БЕСПЛАТНО!*
                                %span.small * подробности акции по телефону

                        .btnBlock
                            %a{:href => ""} Написать нам сейчас
                            %span Мы свяжемся с вами в течение часа
                        .soc
                            %a.fb{:href => ""}
                                %i.fa.fa-facebook
                            %a.env{:href => ""}
                                %i.fa.fa-envelope-o
                .whoAreWe#whoAreWe
                    .centralizer
                        %h2.siteTitle КТО МЫ
                        %ul.list
                            %li
                                .num 1
                                %span LE –
                                свежая и целеустремленная компания, команда с большим и успешным опытом работы с крупными Клиентами, у которых высокие требования и большие ожидания
                            %li
                                .num 4
                                %span Мы –
                                если Вы запрещены, а реклама Вам нужна, мы ответим, как все сделать с минимальными рисками или полностью их исключить
                            %li
                                .num 2
                                %span Мы –
                                это юридическое сопровождение Вашей деятельности без каких-либо размытых и двусмысленных выводов и ответов на Ваши вопросы
                            %li
                                .num 5
                                %span LE –
                                если Вы не хотите думать про юристов: где их взять?, а хороши ли они?, кто они?, нужны ли они вообще?, зачем им платить зарплату?, а что они вообще делают?, что такое консультант+?, на них такие расходы, зачем?;
                            %li
                                .num 3
                                %span LE –
                                если Вы занимаетесь Продвижением своей Продукции, Рекламой, Маркетингом, ATL, BTL, Рекламными Акциями, Стимулирующими мероприятиями и не знаете как это сделать правильно, не нарушая законы
                            %li
                                .num 6
                                %span Мы –
                                если Вы хотите снизить свои риски, получить четкие ответы на поставленные вопросы, быть уверенными в правильности Ваших решений
                .whyWeNeedYou#whyWeNeedYou
                    .img
                    .centralizer
                        .listBox
                            %h2.siteTitle ЗАЧЕМ МЫ НУЖНЫ ВАМ
                            %ul
                                %li
                                    %strong Сопровождение Рекламных Акций
                                    (Стимулирующие мероприятия, Лотереи, Промо Акции);
                                %li
                                    Заключения по вопросам легитимности рекламных активностей. Вы крепкий алкоголь? или сигареты?, лекарственные средства или БАДы, проводите рекламную акцию и не знаете можно ли так?,  мы поможем все разложить по полочкам Вашего разума
                                %li
                                    Сопровождение различных рекламных и маркетинговых услуг, включая, но не ограничиваясь:
                                    %strong
                                        Consumer Promotion, Sales Promotion, Event Marketing, Trade Marketing, Merchandising, OUTSTAFFING, Direct Marketing/CRM, Digital Marketing, Branding, Наружка, Интернет Реклама, ТВ, Радио Реклама и ины
                                %li
                                    %strong Celebrities.
                                    Рекламные договоры с Селебритис (звездами шоу бизнеса, спорта, политики), разработка типовых договоров, проверка и внесение изменений в существующие договоры
                                %li
                                    Устное и письменное консультирование по различным вопросам в рекламной сфере
                                %li
                                    %strong ФАС.
                                    Антимонопольное регулирование по вопросам соблюдения законодательства о рекламе. Представительство, запросы, разъяснения
                                %li
                                    %strong StartUp.
                                    Сопровождение стартапов от создания юридического лица до бухгалтерского обслуживания
                                %li
                                    %strong Сопровождение деятельности юридических лиц
                                %li
                                    %strong Договоры.
                                    Консультирование по договорным отношениям
                                %li
                                    Представительство.
                                    %strong Получить то, что Вам должны.
                                    Судебное представительство,  взыскание долгов – исполнительное производство, представительство в иных органах
                                %li
                                    Запросы государственным органам
                .subscriber
                    .centralizer
                        .title Ежемесячное абонентское обслуживание Клиентов, рады предложить Вам следующие пакеты услуг:
                        %ul.section
                            %li.item
                                %span.ic1
                                %a Минимум
                                .content
                                    .centralizer
                                        %h3.titleItem
                                            %i.icon1
                                            Минимум
                                        %a.remove
                                            %i.fa.fa-remove
                                        %ul.list
                                            %li Ежемесячное оказание услуг. Включает в себя следующие услуги:
                                            %li - Устные консультации до 3 (трех) раз в месяц до 30 (тридцати) минут каждая;
                                            %li - Письменные консультации по электронной почте до 1 (одного) раза в месяц;
                                            %li - Проверка представленных договоров до 5 (пяти) штук в месяц;
                                            %li - Разработка договора – 1 (одна) штука в месяц;
                                            %li - Правовое письменное заключение по запросу до 1 (одного) раза в месяц;
                                        %ul.list
                                            %li - Составление запроса, письма, ответа на запрос в государственные органы 1 (один) раз в месяц;
                                            %li - Подготовка претензии контрагенту – 1 (один) раз в месяц;
                                            %li - Подготовка правил стимулирующего мероприятия – 1 (один) раз в месяц;
                                            %li - Подготовка учредительных документов (Решения, Протоколы собраний участников, иных документов) – 1 (один) документ в месяц;
                                            %li - Подготовка доверенности – 1 (один) раз в месяц.

                            %li.item
                                %span.ic2
                                %a Cтатус
                                .content
                                    .centralizer
                                        %h3.titleItem
                                            %i.icon2
                                            Статус
                                        %a.remove
                                            %i.fa.fa-remove
                                        %ul.list
                                            %li Ежемесячное оказание услуг. Включает в себя следующие услуги:
                                            %li - Устные консультации до 5 (пяти) раз в месяц до 30 (тридцати) минут каждая;
                                            %li - Письменные консультации по электронной почте до 3 (трех) раз в месяц;
                                            %li - Проверка договоров до 10 (десяти) штук в месяц;
                                            %li - Разработка договора – 3 (три) штуки в месяц;
                                            %li - Правовое письменное заключение по запросу до 3 (трех) раз в месяц;
                                            %li - Составление запроса, письма, ответа на запрос в государственные органы до 3 (трех) раз в месяц;
                                            %li - Подготовка претензии контрагенту - 3 (три) раза в месяц;
                                        %ul.list
                                            %li - Предоставление нормативного материала, законов, изменений. Консультирование по нововведениям до 3 (трех) запросов в месяц;
                                            %li - Подготовка правил стимулирующего мероприятия – 3 (три) раза в месяц;
                                            %li - Подготовка учредительных документов  (Решения, Протоколы собраний участников, иных документов) – 2 (два) документа в месяц;
                                            %li - Подготовка доверенности – 3 (три) раза в месяц;
                                            %li - Анализ предоставленных документов Клиентом до 2 (двух) раз в месяц;
                                            %li - Выезд юриста в офис клиента или иное место в пределах г. Москвы для проведения переговоров и консультаций – 2 (два) раза в месяц, каждая консультация до 3 (трех) часов;
                                            %li - 3% скидки на тарифные услуги, не входящие в пакет.
                            %li.item
                                %span.ic3
                                %a Привилегия
                                .content
                                    .centralizer
                                        %h3.titleItem
                                            %i.icon3
                                            Привелегия
                                        %a.remove
                                            %i.fa.fa-remove
                                        %ul.list
                                            %li Ежемесячное оказание услуг. Включает в себя следующие услуги:
                                            %li - Устные консультации до 20 (двадцати) штук в месяц;
                                            %li - Письменные консультации по электронной почте до 10 (десяти) штук в месяц;
                                            %li - Проверка договоров до 20 (двадцати) штук в месяц;
                                            %li - Разработка договоров до 10 (десяти) штук в месяц;
                                            %li - Правовые письменные заключения по запросу до 5 (пяти)штук в месяц;
                                            %li - Составление запроса, письма, ответа на запрос в государственные органы до 5 (пяти) штук в месяц;
                                            %li - Подготовка претензии контрагенту до 10 (десяти) раз в месяц;
                                        %ul.list.extend
                                            %li - Предоставление нормативного материала, законов, изменений. Консультирование по нововведениям до 5 (пяти) штук в месяц;
                                            %li - Подготовка правил стимулирующего мероприятия до 5 (пяти) штук в месяц;
                                            %li - Подготовка учредительных документов  (Решения, Протоколы собраний участников, иных документов) – до 5 (пяти) документов в месяц;
                                            %li - Подготовка доверенности до 5 (пять) штук в месяц;
                                            %li - Анализ предоставленных документов Клиентом до 5 (пяти) штук в месяц;
                                            %li - Выезд юриста в офис Клиента или иное место в пределах г. Москвы для проведения переговоров и консультаций до 4 (четырех) раза в месяц, каждая консультация до 3 (трех) часов;
                                            %li - Представительство адвоката 1 (один) раз в месяц до 3 (трех) часов (далее по тарифу за каждый час);
                                            %li - 5% скидки на тарифные услуги, не входящие в пакет.
                            %li.item
                                %span.ic4
                                %a Превосходство
                                .content
                                    .centralizer
                                        %h3.titleItem
                                            %i.icon4
                                            Превосходство
                                        %a.remove
                                            %i.fa.fa-remove
                                        %ul.list
                                            %li Ежемесячное оказание услуг. Включает в себя следующие услуги:
                                            %li - Устные консультации – без ограничений;
                                            %li - Письменные консультации по электронной почте – без ограничений;
                                            %li - Проверка договоров – без ограничений;
                                            %li - Разработка договоров – без ограничений;
                                            %li - Правовые письменные заключения по запросу – без ограничений;
                                            %li - Составление запроса, письма, ответа на запрос в государственные органы – без ограничений;
                                            %li - Подготовка претензии контрагенту – без ограничений;
                                            %li - Представительство в Арбитражном суде г. Москвы до 3 (трех) дел (более, по тарифу за каждый час);
                                        %ul.list.extend
                                            %li - Предоставление нормативного материала, законов, изменений. Консультирование по нововведениям – без ограничений;
                                            %li - Подготовка правил стимулирующего мероприятия – без ограничений;
                                            %li - Подготовка учредительных документов  (Решения, Протоколысобраний участников, иных документов) – без ограничений;
                                            %li - Подготовка доверенности – без ограничений;
                                            %li - Анализ предоставленных документов Клиентом – без ограничений;
                                            %li - Выезд юриста в офис клиента или иное место в пределах г. Москвы для проведения переговоров и консультаций до 8 (восьми) раз в месяц, каждая консультация до 3 (трех) часов;
                                            %li - Представительство адвоката до 2 (двух) раз в месяц до 2 (двух) часов каждое (далее по тарифу за каждый час);
                                            %li - 10% скидки на тарифные услуги, не входящие в пакет.
                .cost#cost
                    .centralizer
                        .inner
                            %h2.siteTitle.white СТОИМОСТЬ
                            %p
                                Мы хотим, чтобы наши Клиенты всегда были довольны, поэтому к каждому Клиенту мы находим индивидуальный подход в зависимости от его целей и интересов, из чего мы оказываем услуги по той стоимости, которая наиболее подходит каждому Клиенту, предоставляя возможные скидки
                            %span
                                прайс лист на ежемесячное клиентское обслуживание и тарифные услуги
                                %a{:href => ""} скачать
                    .pictures
                .centralizer.withUsBlock#withUsBlock
                    .withUs
                        %h2.siteTitle Кто уже с нами
                        %a{:href => ""}
                            %img{:src => "img/logos/l1.png", :alt => ""}/
                        %a{:href => ""}
                            %img{:src => "img/logos/l2.png", :alt => ""}/
                        %a{:href => ""}
                            %img{:src => "img/logos/l3.png", :alt => ""}/
                        %a{:href => ""}
                            %img{:src => "img/logos/l4.png", :alt => ""}/
                        %a{:href => ""}
                            %img{:src => "img/logos/l5.png", :alt => ""}/
                        %a{:href => ""}
                            %img{:src => "img/logos/l6.png", :alt => ""}/
                    .ourExperience
                        %h2.siteTitle Наш опыт
                        .list
                            %li
                                %h4.subTitle article number one
                                %span.date 16 April 2016
                                %p
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odis...
                                %a.more{:href => ""} > Подробнее
                                .btns
                                    %a{:href => ""} Like
                                    %a{:href => ""} Comment
                                    %a{:href => ""} Share
                            %li
                                %h4.subTitle article number one
                                %span.date 16 April 2016
                                %p
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odis. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odis...
                                %a.more{:href => ""} > Подробнее
                                .btns
                                    %a{:href => ""} Like
                                    %a{:href => ""} Comment
                                    %a{:href => ""} Share
                        %a.allNews{:href => ""} все новости
                .contact#contact
                    .centralizer
                        %h2.siteTitle.white КАК НАС ПОЗВАТЬ
                        %span.address Адрес: г. Москва, Никитский бульвар, 8А
                        %span.tell тел. +7 (495) 72 601 72
                        .mail
                            %span le@legalentertainment.ru
                            %span www.legalentertainment.ru
                        .map
                            #map
            .push
        %footer
            .centralizer
                %a.logo{:href => ""}
                    %img{:src => "img/logo.png", :alt => ""}/
                %span COPYRIGHT ©2016 LEGAL ENTERTAINMENT. ALL RIGHTS RESERVED
                .soc
                    %a.fb{:href => ""}
                        %i.fa.fa-facebook
                    %a.env{:href => ""}
                        %i.fa.fa-envelope-o


