{% load static from staticfiles %}
{% load i18n %}
{% load app_tags %}
{% load thumbnail %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>Home</title>
    <link href='{% static 'styles.css' %}' rel='stylesheet' type='text/css'>
    <script src='{% static 'js/jquery.min.js' %}' type='text/javascript'></script>
    <script src='{% static 'js/scrollspy.js' %}' type='text/javascript'></script>
    <script src='{% static 'js/scripts.js' %}' type='text/javascript'></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
{% block body %}
    <body data-spy='scroll' data-target='#navbar'>
    <div class='wrapper'>
        <header>
            <div class='centralizer'>
                <a class='logo' href='/'>
                    <img alt='' src='{% static 'img/logo.png' %}'>
                </a>
                <nav class='mainMenu' id='navbar'>
                    <ul class='nav'>
                        <li>
                            <a href='#whoAreWe'>
                                {% text 'Кто мы' 'Who is le' %}
                            </a>
                        </li>
                        <li>
                            <a href='#whyWeNeedYou'>
                                {% text 'Зачем мы нужны вам' 'Why you need us' %}
                            </a>
                        </li>
                        <li>
                            <a href='#cost'>
                                {% text 'Стоимость' 'price' %}
                            </a>
                        </li>
                        <li>
                            <a href='#withUsBlock'>
                                {% text 'Кто уже с нами' 'Who is already with us' %}
                            </a>
                        </li>
                        <li>
                            <a href='#contact'>
                                {% text 'Как нас позвать' 'How to call us' %}
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class='lang'>
                    {% if LANGUAGE_CODE == 'ru' %}
                        <a class="btn" data-lang="en">
                            <img alt='English' src={% static 'img/flag_en.png' %}>
                            eng
                        </a>
                    {% endif %}

                    {% if LANGUAGE_CODE == 'en' %}
                        <a class="btn" data-lang="ru">
                            <img alt='Русский' src={% static 'img/flag_rus.png' %}>
                            рус
                        </a>
                    {% endif %}

                    <form class="set_language_form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                        <input name="language" type="hidden" value=""/>
                    </form>
                </div>
                {#            <div class='search'>#}
                {#                <form>#}
                {#                    <input placeholder='Поиск по сайту' type='text'>#}
                {#                    <button>#}
                {#                        <i class='fa fa-search'></i>#}
                {#                    </button>#}
                {#                </form>#}
                {#            </div>#}
            </div>
        </header>
        <div class='main'>
            <div class='topBlock'>
                <div class='centralizer'>
                    <div class='inner'>
                        {% textblock 'ru' %}
                            <h1>
                                <span>Legal Entertainment</span>
                                Юридическая поддержка
                                <br>
                                рекламы, маркетинга
                                <br>
                                и шоу бизнеса
                            </h1>
                            {% for promo in promo_list %}
                                {{ promo.html|safe }}
                            {% endfor %}
                        {% endtextblock %}
                        {% textblock 'en' %}
                            <h1>
                                <span>Legal Entertainment</span>
                                Legal support of advertising,
                                <br>
                                marketing and show business
                            </h1>
                        {% endtextblock %}
                    </div>
                    <div class='btnBlock'>
                        <a href='mailto:le@legalentertainment.ru'>{% text 'Написать нам сейчас' 'Email us now' %}</a>
                        <span>{% text 'Мы свяжемся с вами в течение часа' 'We will contact you within an hour' %}</span>
                    </div>
                    <div class='soc'>
                        <a class='fb' href='http://facebook.com/'>
                            <i class='fa fa-facebook'></i>
                        </a>
                        <a class='env' href='mailto:le@legalentertainment.ru'>
                            <i class='fa fa-envelope-o'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class='whoAreWe' id='whoAreWe'>
                <div class='centralizer'>
                    <h2 class='siteTitle'>{% text 'Кто мы' 'Who is LE' %}</h2>
                    <ul class='list'>
                        <li>
                            <div class='num'>1</div>
                            <span>LE –</span>
                            {% textblock 'ru' %}
                                свежая и целеустремленная компания, команда с большим и успешным опытом работы с крупными Клиентами, у которых высокие требования и большие ожидания
                            {% endtextblock %}
                            {% textblock 'en' %}
                                fresh and ambitious company, wide and successful work experience with clients who have high demands and high expectations
                            {% endtextblock %}
                        </li>
                        <li>
                            <div class='num'>4</div>
                            <span>Мы –</span>
                            {% textblock 'ru' %}
                                если Вы запрещены, а реклама Вам нужна, мы ответим, как все сделать с минимальными рисками или полностью их исключить
                            {% endtextblock %}
                            {% textblock 'en' %}
                                If you are forbidden, but you need advertising, we know how to do it with minimal risks or without them
                            {% endtextblock %}
                        </li>
                        <li>
                            <div class='num'>2</div>
                            <span>Мы –</span>
                            {% textblock 'ru' %}
                                это юридическое сопровождение Вашей деятельности без каких-либо размытых и двусмысленных выводов и ответов на Ваши вопросы
                            {% endtextblock %}
                            {% textblock 'en' %}
                                A legal support of your activity without any foggy and ambigous conclusion and answers to your question
                            {% endtextblock %}
                        </li>
                        <li>
                            <div class='num'>5</div>
                            <span>LE –</span>
                            {% textblock 'ru' %}
                                если Вы не хотите думать про юристов: где их взять?, а хороши ли они?, кто они?, нужны ли они вообще?, зачем им платить зарплату?, а что они вообще делают?, что такое консультант+?, на них такие расходы, зачем?;
                            {% endtextblock %}
                            {% textblock 'en' %}
                                If you do not want to think about lawyers: where to get they? Are the really good or not? Who are they? Do we need them at all? Why should we pay them salary? What do they do? What is "Consultant +" or "Garant"? So much expenses, why?
                            {% endtextblock %}
                        </li>
                        <li>
                            <div class='num'>3</div>
                            <span>LE –</span>
                            {% textblock 'ru' %}
                                если Вы занимаетесь Продвижением своей Продукции, Рекламой, Маркетингом, ATL, BTL, Рекламными Акциями, Стимулирующими мероприятиями и не знаете как это сделать правильно, не нарушая законы
                            {% endtextblock %}
                            {% textblock 'en' %}
                                If you are engaged in promoting your products, advertising, marketing, ATL, BTL, advertising campaigns, stimulating campaigns, events, but do not know how to do it correctly and legally, without breaking the law
                            {% endtextblock %}
                        </li>
                        <li>
                            <div class='num'>6</div>
                            <span>Мы –</span>
                            {% textblock 'ru' %}
                                если Вы хотите снизить свои риски, получить четкие ответы на поставленные вопросы, быть уверенными в правильности Ваших решений
                            {% endtextblock %}
                            {% textblock 'en' %}
                                If you want to reduce your risks, get clear answers to your questions, to be sure of your decisions are really correct.
                            {% endtextblock %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class='whyWeNeedYou' id='whyWeNeedYou'>
                <div class="img"></div>
                <div class='centralizer'>
                    <div class='listBox'>
                        {% textblock 'ru' %}
                            <h2 class='siteTitle'>ЗАЧЕМ МЫ НУЖНЫ ВАМ</h2>
                            <ul>
                                <li>
                                    <strong>Сопровождение Рекламных Акций</strong>
                                    (Стимулирующие мероприятия, Лотереи, Промо Акции);
                                </li>
                                <li>
                                    Заключения по вопросам легитимности рекламных активностей. Вы крепкий алкоголь? или сигареты?, лекарственные средства или БАДы, проводите рекламную акцию и не знаете можно ли так?, мы поможем все разложить по полочкам Вашего разума
                                </li>
                                <li>
                                    Сопровождение различных рекламных и маркетинговых услуг, включая, но не ограничиваясь:
                                    <strong>
                                        Consumer Promotion, Sales Promotion, Event Marketing, Trade Marketing, Merchandising, OUTSTAFFING, Direct Marketing/CRM, Digital Marketing, Branding, Наружка, Интернет Реклама, ТВ, Радио Реклама и ины
                                    </strong>
                                </li>
                                <li>
                                    <strong>Celebrities.</strong>
                                    Рекламные договоры с Селебритис (звездами шоу бизнеса, спорта, политики), разработка типовых договоров, проверка и внесение изменений в существующие договоры
                                </li>
                                <li>
                                    Устное и письменное консультирование по различным вопросам в рекламной сфере
                                </li>
                                <li>
                                    <strong>ФАС.</strong>
                                    Антимонопольное регулирование по вопросам соблюдения законодательства о рекламе. Представительство, запросы, разъяснения
                                </li>
                                <li>
                                    <strong>StartUp.</strong>
                                    Сопровождение стартапов от создания юридического лица до бухгалтерского обслуживания
                                </li>
                                <li>
                                    <strong>Сопровождение деятельности юридических лиц</strong>
                                </li>
                                <li>
                                    <strong>Договоры.</strong>
                                    Консультирование по договорным отношениям
                                </li>
                                <li>
                                    Представительство.
                                    <strong>Получить то, что Вам должны.</strong>
                                    Судебное представительство, взыскание долгов – исполнительное производство, представительство в иных органах
                                </li>
                                <li>
                                    Запросы государственным органам
                                </li>
                            </ul>
                        {% endtextblock %}
                        {% textblock 'en' %}
                            <h2 class='siteTitle'>Why you need us</h2>
                            <ul>
                                <li>
                                    Legal support of advertising campaigns. (Stimulating events, promotions, creative contests).
                                </li>
                                <li>
                                    Legal opinion on advertising, marketing activities. Are you a strong alcohol? Or cigarettes? Medicines or Biologically Active Food Supplements?
                                    Do you advertise it but still not sure how to do it legally? We can help you to solve the problems;
                                </li>
                                <li>
                                    Advertising and marketing services legal support, as well as: Consumer Promotion, Sales Pro-motion, Event Marketing, Trade Marketing, Merchandising, OUTSTAFFING, Direct Marketing (B2C) / CRM, Digital Marketing, Branding, Outdoor advertising, Internet advertising, TV and radio advertising, etc.;
                                </li>
                                <li>
                                    Celebrities. Advertising contracts with Celebrities (stars of show business, sports, politics), development of standard agreements, reviewing and amending existing contracts;
                                </li>
                                <li>
                                    Spoken and written consultations on various issues of advertising field
                                </li>
                                <li>
                                    The FAS (the Federal Antimonopoly Service). Antimonopoly regulation on the issues of observance of the legislation on advertising. Representation, inquiries, clarifications;
                                </li>
                                <li>
                                    Startup. Support of startups from creating a legal entity to an accounting service
                                </li>
                                <li>
                                    Support of legal entities activity
                                </li>
                                <li>
                                    The contracts. Advising on contractual relationships
                                </li>
                                <li>
                                    Representation. Get what You deserve.
                                    Court representation, debt recovery - enforcement proceedings, representation in other bodies
                                </li>
                                <li>
                                    Requests to the state bodies
                                </li>
                            </ul>
                        {% endtextblock %}
                    </div>
                </div>
            </div>
            <div class='subscriber'>
                <div class='centralizer'>
                    {% textblock 'ru' %}
                        <div class='title'>Ежемесячное абонентское обслуживание Клиентов, рады предложить Вам следующие пакеты услуг:</div>
                    {% endtextblock %}
                    {% textblock 'en' %}
                        <div class='title'>Monthly customer service. We are pleased to offer the following package of services:</div>
                    {% endtextblock %}
                    <ul class='section'>
                        <li class='item'>
                            <span class='ic1'></span>
                            <a>{% text 'Минимум' 'Minimum' %}</a>
                            <div class='content'>
                                <div class='centralizer'>
                                    <h3 class='titleItem'>
                                        <i class='icon1'></i>
                                        {% text 'Минимум' 'Minimum' %}
                                    </h3>
                                    <a class='remove'>
                                        <i class='fa fa-remove'></i>
                                    </a>
                                    <ul class='list'>
                                        <li>Ежемесячное оказание услуг. Включает в себя следующие услуги:</li>
                                        <li>- Устные консультации до 3 (трех) раз в месяц до 30 (тридцати) минут каждая;</li>
                                        <li>- Письменные консультации по электронной почте до 1 (одного) раза в месяц;</li>
                                        <li>- Проверка представленных договоров до 5 (пяти) штук в месяц;</li>
                                        <li>- Разработка договора – 1 (одна) штука в месяц;</li>
                                        <li>- Правовое письменное заключение по запросу до 1 (одного) раза в месяц;</li>
                                    </ul>
                                    <ul class='list'>
                                        <li>- Составление запроса, письма, ответа на запрос в государственные органы 1 (один) раз в месяц;</li>
                                        <li>- Подготовка претензии контрагенту – 1 (один) раз в месяц;</li>
                                        <li>- Подготовка правил стимулирующего мероприятия – 1 (один) раз в месяц;</li>
                                        <li>- Подготовка учредительных документов (Решения, Протоколы собраний участников, иных документов) – 1 (один) документ в месяц;</li>
                                        <li>- Подготовка доверенности – 1 (один) раз в месяц.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class='item'>
                            <span class='ic2'></span>
                            <a>{% text 'Статус' 'Status' %}</a>
                            <div class='content'>
                                <div class='centralizer'>
                                    <h3 class='titleItem'>
                                        <i class='icon2'></i>
                                        {% text 'Статус' 'Status' %}
                                    </h3>
                                    <a class='remove'>
                                        <i class='fa fa-remove'></i>
                                    </a>
                                    <ul class='list'>
                                        <li>Ежемесячное оказание услуг. Включает в себя следующие услуги:</li>
                                        <li>- Устные консультации до 5 (пяти) раз в месяц до 30 (тридцати) минут каждая;</li>
                                        <li>- Письменные консультации по электронной почте до 3 (трех) раз в месяц;</li>
                                        <li>- Проверка договоров до 10 (десяти) штук в месяц;</li>
                                        <li>- Разработка договора – 3 (три) штуки в месяц;</li>
                                        <li>- Правовое письменное заключение по запросу до 3 (трех) раз в месяц;</li>
                                        <li>- Составление запроса, письма, ответа на запрос в государственные органы до 3 (трех) раз в месяц;</li>
                                        <li>- Подготовка претензии контрагенту - 3 (три) раза в месяц;</li>
                                    </ul>
                                    <ul class='list'>
                                        <li>- Предоставление нормативного материала, законов, изменений. Консультирование по нововведениям до 3 (трех) запросов в месяц;</li>
                                        <li>- Подготовка правил стимулирующего мероприятия – 3 (три) раза в месяц;</li>
                                        <li>- Подготовка учредительных документов (Решения, Протоколы собраний участников, иных документов) – 2 (два) документа в месяц;</li>
                                        <li>- Подготовка доверенности – 3 (три) раза в месяц;</li>
                                        <li>- Анализ предоставленных документов Клиентом до 2 (двух) раз в месяц;</li>
                                        <li>- Выезд юриста в офис клиента или иное место в пределах г. Москвы для проведения переговоров и консультаций – 2 (два) раза в месяц, каждая консультация до 3 (трех) часов;</li>
                                        <li>- 3% скидки на тарифные услуги, не входящие в пакет.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class='item'>
                            <span class='ic3'></span>
                            <a>{% text 'Привелегия' 'Privilege' %}</a>
                            <div class='content'>
                                <div class='centralizer'>
                                    <h3 class='titleItem'>
                                        <i class='icon3'></i>
                                        {% text 'Привелегия' 'Privilege' %}
                                    </h3>
                                    <a class='remove'>
                                        <i class='fa fa-remove'></i>
                                    </a>
                                    <ul class='list'>
                                        <li>Ежемесячное оказание услуг. Включает в себя следующие услуги:</li>
                                        <li>- Устные консультации до 20 (двадцати) штук в месяц;</li>
                                        <li>- Письменные консультации по электронной почте до 10 (десяти) штук в месяц;</li>
                                        <li>- Проверка договоров до 20 (двадцати) штук в месяц;</li>
                                        <li>- Разработка договоров до 10 (десяти) штук в месяц;</li>
                                        <li>- Правовые письменные заключения по запросу до 5 (пяти)штук в месяц;</li>
                                        <li>- Составление запроса, письма, ответа на запрос в государственные органы до 5 (пяти) штук в месяц;</li>
                                        <li>- Подготовка претензии контрагенту до 10 (десяти) раз в месяц;</li>
                                    </ul>
                                    <ul class='list extend'>
                                        <li>- Предоставление нормативного материала, законов, изменений. Консультирование по нововведениям до 5 (пяти) штук в месяц;</li>
                                        <li>- Подготовка правил стимулирующего мероприятия до 5 (пяти) штук в месяц;</li>
                                        <li>- Подготовка учредительных документов (Решения, Протоколы собраний участников, иных документов) – до 5 (пяти) документов в месяц;</li>
                                        <li>- Подготовка доверенности до 5 (пять) штук в месяц;</li>
                                        <li>- Анализ предоставленных документов Клиентом до 5 (пяти) штук в месяц;</li>
                                        <li>- Выезд юриста в офис Клиента или иное место в пределах г. Москвы для проведения переговоров и консультаций до 4 (четырех) раза в месяц, каждая консультация до 3 (трех) часов;</li>
                                        <li>- Представительство адвоката 1 (один) раз в месяц до 3 (трех) часов (далее по тарифу за каждый час);</li>
                                        <li>- 5% скидки на тарифные услуги, не входящие в пакет.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class='item'>
                            <span class='ic4'></span>
                            <a>{% text 'Превосходство' 'Superiority' %} </a>
                            <div class='content'>
                                <div class='centralizer'>
                                    <h3 class='titleItem'>
                                        <i class='icon4'></i>
                                        {% text 'Превосходство' 'Superiority' %}
                                    </h3>
                                    <a class='remove'>
                                        <i class='fa fa-remove'></i>
                                    </a>
                                    <ul class='list'>
                                        <li>Ежемесячное оказание услуг. Включает в себя следующие услуги:</li>
                                        <li>- Устные консультации – без ограничений;</li>
                                        <li>- Письменные консультации по электронной почте – без ограничений;</li>
                                        <li>- Проверка договоров – без ограничений;</li>
                                        <li>- Разработка договоров – без ограничений;</li>
                                        <li>- Правовые письменные заключения по запросу – без ограничений;</li>
                                        <li>- Составление запроса, письма, ответа на запрос в государственные органы – без ограничений;</li>
                                        <li>- Подготовка претензии контрагенту – без ограничений;</li>
                                        <li>- Представительство в Арбитражном суде г. Москвы до 3 (трех) дел (более, по тарифу за каждый час);</li>
                                    </ul>
                                    <ul class='list extend'>
                                        <li>- Предоставление нормативного материала, законов, изменений. Консультирование по нововведениям – без ограничений;</li>
                                        <li>- Подготовка правил стимулирующего мероприятия – без ограничений;</li>
                                        <li>- Подготовка учредительных документов (Решения, Протоколысобраний участников, иных документов) – без ограничений;</li>
                                        <li>- Подготовка доверенности – без ограничений;</li>
                                        <li>- Анализ предоставленных документов Клиентом – без ограничений;</li>
                                        <li>- Выезд юриста в офис клиента или иное место в пределах г. Москвы для проведения переговоров и консультаций до 8 (восьми) раз в месяц, каждая консультация до 3 (трех) часов;</li>
                                        <li>- Представительство адвоката до 2 (двух) раз в месяц до 2 (двух) часов каждое (далее по тарифу за каждый час);</li>
                                        <li>- 10% скидки на тарифные услуги, не входящие в пакет.</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='cost' id='cost'>
                <div class='centralizer'>
                    <div class='inner'>
                        <h2 class='siteTitle white'>{% text 'СТОИМОСТЬ' 'COST' %}</h2>
                        <p>
                            {% textblock 'en' %}
                                We want our Clients to be always pleased. that is why we pay individual attention to every Client with regard to its objectives and interests. Therefore, we render the services under the cost that suits each Client the best by providing possible discounts.
                            {% endtextblock %}
                            {% textblock 'ru' %}
                                Мы хотим, чтобы наши Клиенты всегда были довольны, поэтому к каждому Клиенту мы находим индивидуальный подход в зависимости от его целей и интересов, из чего мы оказываем услуги по той стоимости, которая наиболее подходит каждому Клиенту, предоставляя возможные скидки
                            {% endtextblock %}
                        </p>
                    <span>
                        {% text 'прайс лист на ежемесячное клиентское обслуживание и тарифные услуги' 'Price list' %}
                        <a href='{{ price_url }}'>скачать</a>
                    </span>
                    </div>
                </div>
                <div class='pictures'></div>
            </div>
            <div class='centralizer withUsBlock' id='withUsBlock'>
                <div class='withUs'>
                    <h2 class='siteTitle'>
                        {% text 'Кто уже с нами' 'Who is already with us' %}
                    </h2>
                    {% for client in client_list %}
                        <a href='{{ client.url }}'>
                            {% thumbnail client.image '200x200' as im %}
                                <img alt='' src={{ im.url }}>
                            {% endthumbnail %}
                        </a>
                    {% endfor %}
                </div>
                <div class='ourExperience'>
                    <h2 class='siteTitle'>
                        {% text 'Наш опыт' 'Our experience' %}
                    </h2>
                    <div class='list'>
                        {% for article in article_list %}
                            <li>
                                <h4 class='subTitle'>{{ article.title }}</h4>
                                <span class='date'>{{ article.date }}</span>
                                <p>
                                    {{ article.html }}
                                </p>
                                <a class='more' href='{% url 'article_detail' article.id %}'>
                                    Подробнее
                                </a>
                            </li>
                        {% endfor %}
                    </div>
                    {#                    <a class='allNews' href='{% url 'article_list' %}'>все новости</a>#}
                </div>
            </div>
            <div class='contact' id='contact'>
                <div class='centralizer'>
                    <h2 class='siteTitle white'>
                        {% text 'Как нас позвать' 'How to call us' %}
                    </h2>
                    <span class='address'>
                        {% text 'Адрес: г. Москва, Никитский бульвар, 8А' 'Moscow, Nikitsky boulevard, 8a' %}
                    </span>
                    <span class='tell'>
                        {% text 'тел.' 'tel:' %}
                        +7 (495) 72 601 72
                    </span>
                    <div class='mail'>
                        <span>le@legalentertainment.ru</span>
                        <span>www.legalentertainment.ru</span>
                    </div>
                    <div class='map'>
                        <div id='map'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='push'></div>
    </div>
    <footer>
        <div class='centralizer'>
            <a class='logo' href=''>
                <img alt='' src={% static 'img/logo.png' %}>
            </a>
            <span>COPYRIGHT ©2016 LEGAL ENTERTAINMENT. ALL RIGHTS RESERVED</span>
            <div class='soc'>
                <a class='fb' href='http://facebook.com/'>
                    <i class='fa fa-facebook'></i>
                </a>
                <a class='env' href='mailto:le@legalentertainment.ru'>
                    <i class='fa fa-envelope-o'></i>
                </a>
            </div>
        </div>
    </footer>
    </body>
{% endblock %}
</html>
